<%= render "shared/header" %>
<div class="hero">
	<h1>トイレにいっといれアプリ</h1>
	<p>現在位置から近くにあるトイレをマップ上に表示するWebアプリです。</p>
	<p>トイレを探すだけでなく、新しいトイレ情報を簡単に登録できます。もうトイレに困ることはありません。</p>
	<%= link_to(new_map_path, class: 'cta-btn') do %>
    <span>自慢のトイレを登録しよう！</span>
  <% end %>
</div>

<div id="maps">
</div>

<%= render "shared/footer" %>

<%# Googleマップの表示コード %>
<script>
  let map;
  let marker = []; // マーカーを複数表示させたいので、配列化
  let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
  const maps = gon.maps;


  function initMap() {
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()
    
    map = new google.maps.Map(document.getElementById('maps'), {
      zoom: 15
    })

    // mapの初期位置を現在位置に設定
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        const pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }

        // 現在地にマーカーを表示する
        marker = new google.maps.Marker({
          position: pos,
          map: map,
          icon: {
            url: '<%= image_path("toilet_gaman_boy.png") %>',
            scaledSize: new google.maps.Size(80, 80) // マーカーのサイズを指定する
          }
        })

        // トイレマーカーを表示する
        for (let i = 0; i < maps.length; i++) {
          // const toiletId = maps[i].id;
          marker[i] = new google.maps.Marker({
          position: { lat: maps[i].latitude , lng: maps[i].longitude },
          map: map,
          icon: {
            url: '<%= image_path("toilet_kirei.png") %>',
            scaledSize: new google.maps.Size(40, 40) // マーカーのサイズを指定する
          }
          })
            // 変数iを変数idに代入
            let id = maps[i]['id']
           // infoWindowは吹き出し
            infoWindow[i] = new google.maps.InfoWindow({
            // contentで中身を指定
            // 今回は文字にリンクを貼り付けた形で表示
            content: `<a href='/maps/${id}'>${maps[i].toilet.title}</a>`
            });
            // markerがクリックされた時、
            marker[i].addListener("click", function(){
                // infoWindowを表示
                infoWindow[i].open(map, marker[i]);
            });
        }

        // 地図の中心を現在地に設定する
        map.setCenter(pos);
      })
    }
  }
    </script>
    <!-- Maps JavaScript APIを読み込むスクリプトタグにAPIキーを指定する -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" async defer></script>
