<div class="maps-register-contents">
  <div class="maps-register-main">
    <h2 class="maps-register-title">新しいトイレを登録しよう</h2>
    <%= form_with(model: @map, local: true) do |f| %>

      <%# 住所を入力 %>
      <div class='toilet-address-form'>
        <h1 class='info-input-haedline'>
        トイレの住所を入力
        </h1>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">郵便番号</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :postal_code, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">都道府県</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :prefecture, class:"input-default", id:"prefecture", placeholder:"東京都" %>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">市区町村</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）横浜市緑区"%>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">番地</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :addresses, class:"input-default", id:"addresses", placeholder:"例）青山1-1-1"%>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">建物名</label>
            <span class="form-any">任意</span>
          </div>
          <%= f.text_field :building, class:"input-default", id:"building", placeholder:"例）柳ビル103"%>
        </div>
      </div>
    <div class='form-submit'>
      <%= f.submit "登録" ,class:"submit-btn", id:"submit-btn" %>
    </div>
    <% end %>
  </div>
</div>