    <header class = "header">
        <%= link_to image_tag("header-logo.png", class:"top-logo"), "/" %>
      <% if user_signed_in? %>
          <div class="nav-menu">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "list-menu" %>
            <%= link_to "投稿する", "#", class: "list-menu" %>
          </div>
      <% else %>
          <div class="nav-menu">
            <%= link_to "ログイン", new_user_session_path, class: "list-menu" %>
            <%= link_to "新規登録", new_user_registration_path, class: "list-menu" %>
          </div>
      <% end %>
    </header>